body {
    font: 12px/18px Arial, sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {}
a {
    font-size: 200%;
}
a:hover {
    color:red;
    transition: 1s;
    
}



/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background: #BFF08E;
}
